.button {
    background: #ecd438;
    border: none;
    border-radius: 1rem;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.7rem 4.3rem;
    text-transform: uppercase;
}

.section-one__button {
    padding: 2.2rem 6.1rem;
    margin-bottom: 13.1rem;
}

.section-two__button {
    background: #4d4d4d;
    color: white;
    padding: 1.54rem 3.6rem;
    margin: $xl-size 0 8.2rem 1.9rem;
    border-radius: .5rem;
}