.container__outer {
    max-width: 160rem;
    margin: 0 auto;
}

.container__inner {
    max-width: 124rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.flex-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-block--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}