.section-one__bg {
    background: url(../images/bg-section1.jpg) no-repeat 0 -153px;
    background-size: 100%p;
}

.section-one {
    color: #ffffff;
    max-width: 76rem;
    margin: 0 auto;
    text-align: center;
}

.section-one__title {
    font-size: $xxl-size;
    font-weight: 900;
    padding-top: 19rem;
}

.section-one__subtitle {
    text-transform: uppercase;
    font-size: $xl-size;
    letter-spacing: $m-size;
    padding-top: $xl-size;
    padding-bottom: 6rem;
}

.section-one__para {
    margin-bottom: 5.7rem;
}